[2016-06-09 20:30] pllim opened #1 "Please add me to RTD admin"
It is a lot easier if I can directly change the settings if my PR fails the doc build. Thanks.

[2016-06-10 11:44] justincely commented on #1
I've added you as a maintainer.

[2016-06-10 11:44] #1 closed

[2016-06-10 13:05] pllim commented on #1
Thanks!

[2016-06-10 13:16] pllim opened #4 "Fix Sphinx warnings and layout"
- [x] Currently the front page is garbage. Maybe move the stuff from one level down to the front page. (Done in #3)

- [x] Have to exclude the test directory from API: (Clearing RTD cache fixed this.)
[code]

- [x] Perhaps changing `html_static_path` in `conf.py` or add that missing directory. Looking at how Astropy do it will probably help: (Clearing RTD cache fixed this.)
[code]

- [x] Fix faile

[2016-06-15 14:57] #4 closed

[2016-06-28 16:00] pllim opened #8 "More aperture choices"
Question from Susan Kassin, "Can the user specify a different geometry rather than a slit?  For example, the NIRSpec/MSA is a grid of shutters.  SDSS spectral apertures are round."

Also want slit to be always vertical and rotate the image instead.

Harry also mentioned that they want to overlay background apertures.

[2016-06-28 20:31] #8 closed

[2016-06-28 20:32] pllim opened #10 "Replace examples with GOODS-S data"
As requested by Susan

[2016-06-29 16:50] astrofrog opened #11 "Support rotation for cutouts"
### Background

As discussed on the tag-up, it would be nice to support specifying a position angle when creating cutouts. I had a look at the existing code:

https://github.com/spacetelescope/mosviz/blob/master/mosviz/utils/cutout_tools.py#L22

and I think it would be easy to integrate.

@pllim - I decided to just write this up for now - would you like to implement what I am suggesting below, or

[2016-06-29 16:52] #10 closed

[2016-06-29 17:25] pllim commented on #11
Given that we're short on time at the sprint, I would propose some corner cutting -- In the input catalog, when `slit_pa` column is given *and* a new function keyword flag that says "yes please rotate", then do the `reproject_interp(...)`. Otherwise, same as before.

So, just to be clear... We are reprojecting just the *cutout*, right? What I have in mind...

[code]

[2016-06-29 17:41] larrybradley commented on #11
@pllim  If you rotate/reproject just the cutout then you will literally cut corners. :smiley:  At the very least, you would need to make a cutout that is `sqrt(2)` times larger than the longest cutout side length to ensure no corners are cut after rotation.

[2016-06-29 17:41] astrofrog commented on #11
@pllim - actually I was thinking it would make more sense to actually just reproject using the original image, which won't incur a loss in performance, because all pixels outside the cutout footprint will be ignored. The reason I suggest that is because otherwise when you rotate the cutout, there will be some empty areas. It's far easier to simply construct the header of the cutout you want includ

[2016-06-29 17:42] astrofrog commented on #11
Indeed, and it's far easier to just instead do what I'm suggesting and let reproject handle it all. Using the original image for reprojection doesn't mean all the pixels in there will actually be reprojected, so it shouldn't be slow.

[2016-06-29 17:42] astrofrog commented on #11
I'm happy to provide real/non-pseudo code if the above is confusing btw!

[2016-06-29 17:43] larrybradley commented on #11
I agree, @astrofrog.

[2016-06-29 17:45] pllim commented on #11
Ahaha... I love puns!

Yes, what you both said make sense. I was just confused. I'll come up with a PR shortly, so @astrofrog can concentrate on the Viz's (MOSViz, SpecViz, AstroViz, etc).

[2016-06-29 17:45] pllim commented on #11
@larrybradley , are you bored? Not too late to join the sprint! :stuck_out_tongue_winking_eye:

[2016-06-29 17:47] larrybradley commented on #11
@pllim I think you've got it covered!  😈

[2016-06-29 18:32] pllim commented on #11
Is this the right way to build that reproject WCS?

[code]

[2016-06-29 18:58] astrofrog commented on #11
Is ``x_pix`` defined as the size in pixels? If so, I think you might want to be setting ``crpix`` to ``(x_pix - 1) * 0.5`` - that is, the center of a 2-pixel image is ``crpix=0.5``?

I don't think you should set ``pc`` because you will preserve the rotation from the original image. So I think you want to set ``crota[1]`` to the rotation angle requested.

Should ``cdelt`` be taken from ``spatial_pi

[2016-06-30 04:56] pllim opened #16 "Cutout tool is not responsible for bad input WCS"
Just want to point out that in comparing results from #15, where the same region is extracted using `Cutout2D` (no rotation) or `reproject` (with rotation), when the input image has "bad" WCS, cutout does not always get the correct region.

Left is using `Cutout2D`, right is using `reproject` with -5.3 degrees rotation for object ID `CANDELS_GDS_F160W_J033248.05-274737.4`:
<img width="241" alt="un

[2016-06-30 05:55] pllim commented on #11
I think I got the basic functionality implemented in #15 but I am keeping this open for now in case we want to revisit the extra features @astrofrog mentioned.

Just to clarify... Positive angle rotates counter-clockwise, right? Because that is what it is currently doing.

[2016-06-30 08:49] astrofrog commented on #11
In terms of position angle convention, I'm not 100% sure - I *think* we may actually want it to go the other way - a position angle of 45 is a line to the upper left, so then if we said that was the new north, it would actually rotate the image 45 clockwise.

[2016-06-30 08:50] astrofrog commented on #11
@pllim - by the way, you may want to try and hard-code ``order=2`` or ``order=3`` when doing the reprojection, since that may provide a better 'default' quality.

[2016-06-30 13:18] pllim commented on #11
@astrofrog , @larrybradley -- What are the plans to have `Cutout2D` eventually support rotation? It can probably just use `reproject` as an optional dependency (as we use SciPy in other parts of Astropy)? Should I open an issue on Astropy GitHub about this?

[2016-06-30 14:09] larrybradley commented on #11
IMHO, `Cutout2D` shouldn't be responsible for rotation.  That should be in a separate general-purpose function/class.

[2016-06-30 14:09] astrofrog commented on #11
``RotatedCutout2D``? :)

[2016-06-30 14:12] larrybradley commented on #11
I was thinking more general (not necessarily cutout related), like `RotateImage`.

[2016-06-30 14:15] astrofrog commented on #11
@larrybradley - there are benefits to be able to get just a rotated cutout - rotating the whole image before calling ``Cutout2D`` is going to be slow. I guess I don't see why ``Cutout2D`` couldn't include a position angle option?

[2016-06-30 14:26] larrybradley commented on #11
One could rotate after making the cutout (assuming sizes are adjusted).  :)

For rotated cutouts, would the the size be automatically expanded to prevent the corners from being cut?  And is the input cutout "size" the size before rotation or after rotation?  Also, you would need to add keyword options for interpolation schemes (e.g. order) too.  I'm not strongly opposed to it, but my initial gut r

[2016-06-30 14:38] hcferguson commented on #11
We certainly want simple way to rotate images, and for the use case where you are making lots of cutouts it will be more efficient to rotate the whole image once and make the cutouts. But I think it might be pretty common to be asking for cutouts just a few at a time (e.g. from GUI tools) in which case having a function that cuts out the bigger size, rotates it, and cuts out the smaller size might

[2016-06-30 14:39] astrofrog commented on #11
@larrybradley - the size would refer to the one after rotation - if you use reproject then you don't need to worry about the corner cutting, with the new fixes to reproject you can basically just reproject from the original large image with minimal memory usage (you don't have to do it as two steps, with the larger cutout etc).

[2016-06-30 15:09] pllim commented on #11
@larrybradley , @astrofrog , @hcferguson -- Perhaps we need a rotating APE for Astropy? :smiley:

[2016-06-30 16:04] hcferguson commented on #16
Agreed.

[2016-06-30 16:07] larrybradley commented on #16
+100

[2016-06-30 16:24] pllim opened #18 "Apply Susan's comments"
Waiting for her email. Opening an issue so I won't forget.

[2016-06-30 16:25] astrofrog commented on #11
A more general class could also be called ``ReprojectedCutout2D`` to make it clear that this is not just about rotation, but also removing distortions, etc.

[2016-06-30 18:38] pllim opened #19 "Plot cutout with labels in arcsec?"
Comment from Susan, "The labels on the postage stamps should have the option of being in arcseconds, not just pixels (if possible)."

@larrybradley , @astrofrog -- Is there anything in Astropy that can already do this? I don't want to reinvent the wheel here.

[2016-06-30 19:02] pllim opened #20 "Better RGB image examples"
Susan wants something like these:

![color_12019643_3mas_200px](https://cloud.githubusercontent.com/assets/2090236/16500662/96b5401a-3ed3-11e6-9fed-390e8332769f.png)

![color_13018617_3mas_200px](https://cloud.githubusercontent.com/assets/2090236/16500665/9b799d3a-3ed3-11e6-9b4f-3d96848fadb8.png)

![color_13058084_3mas_200px](https://cloud.githubusercontent.com/assets/2090236/16500671/9dbfb282-3ed

[2016-06-30 19:07] #18 closed

[2016-06-30 19:07] pllim commented on #18
Remaining issues opened in #18 and #19

[2016-06-30 19:49] larrybradley commented on #19
I'm not exactly sure what you are asking, but if you know the pixel scale (arcsec/pix) then you can use Astropy units to easily go back and forth between pixels and arcsec.

[2016-07-02 09:02] astrofrog commented on #19
@pllim - yes, there is now mostly a mechanism to do this - you could use WCSAxes coupled with the new ``SkyOffset`` frames. I can try and provide an example later.

An easier way to do this would be to use the ``proj_plane_pixel_scales`` function to convert from pixel to arcseconds as @larrybradley is suggesting, and then use the matplotlib ``extent`` option in imshow to tell it the range of 'worl

[2016-07-05 14:54] pllim commented on #19
@astrofrog , could you please link the relevant docs here, when they are available, to keep a record? Thanks!

[2016-07-05 19:32] hcferguson opened #23 "lupton_rgb.makeRGB() arguments"
Playing with the lupton_rgb function and trying to match what I was able to do with the old [img_scale](https://github.com/marcelhaas/python/blob/master/img_scale.py) routine, I'm finding that the arguments to makeRGB may be too limiting (or at least to confusing for me on first attempt).

To get a decent looking color image usually involves some trial and error, but generally I find that
I want t

[2016-07-05 20:34] hcferguson commented on #23
Here is a somewhat kludgy way to allow the user to set the max and min levels *and* color of the brightest pixels. This uses ing_scale.asinh rather than the lupton_rgb version.

[code]

[2016-07-05 21:17] astrofrog commented on #19
@pllim - will do - ping me if I don't do it in a timely fashion!

[2016-07-07 14:26] pllim commented on #19
@astrofrog , maybe I should write a bot to remind you! :wink:

[2016-10-11 19:25] #16 closed

[2016-10-11 19:26] pllim commented on #11
I think this is no longer an issue for cutout tools...

[2016-10-11 19:26] #11 closed

[2016-10-11 20:35] pllim commented on #23
Moved to spacetelescope/astroimtools#33

[2016-10-11 20:35] #23 closed

[2016-10-11 20:36] pllim commented on #20
Moved to spacetelescope/astroimtools#33

[2016-10-11 20:36] #20 closed

[2016-10-11 20:36] pllim commented on #19
Moved to spacetelescope/astroimtools#33

[2016-10-11 20:36] #19 closed

[2016-10-21 20:46] nmearl opened #37 "Add icons to toolbars"
Currently, the MOSVizViewer doesn't contain icons, just labels. Add some icons for the sake of user usability.

[2016-10-21 20:47] nmearl opened #38 "Populate info box with table info"
It's desired to show the basic information from the table within the MOSViz viewer info area.

[2016-10-21 20:58] nmearl opened #39 "Allow data-agnostic loaders"
MOSViz uses hard coded component ids in the back with the expectation that the data is strictly the nircam data set.

We're hoping that a single data loader that's exposed in the Glue interface can wrap the process of calling the three functions required to load the specific data.

Any ideas @mattjhill, @astrofrog?

[2016-10-26 16:29] mattjhill commented on #39
My initial thought was that people would write their loaders (in .glue/config.py?) and then specify the loaders in the table.  You might need to tell users to name the components specific things ("Wavelength", "Spectral Flux", etc) but I don't really see any way around that.

You could just as easily do this with a single function which accepts three filenames and returns three Data objects, so it

[2016-10-27 18:31] nmearl opened #42 "Fix slit placement on 2d image"
Currently, the implementation is off. Needs tweaking.

[2016-10-27 18:33] nmearl opened #43 "Show subsets in MOSViz Viewer layer widget"
The layer widget remains empty even when a subset is selected. To be consistent with other viewers, it should show the current subset.

[2016-10-28 15:24] nmearl commented on #39
Sort of. I don't think the loader should be specified *for each row*, that seems unnecessarily tedious for the user to have to construct, since there'd now be three new columns that are pretty tangental to the real data the user cares about.

Instead, how about we define the table as having to have header keywords that identify the function names:

[code]

[2016-10-28 16:01] mattjhill commented on #39
That looks good to me. Do you (or @astrofrog) know if the metadata is read into the glue Data object for the table?

[2016-10-28 16:03] astrofrog commented on #39
I'm not sure if the ECSV units are read into glue at the moment, but it would be easy to fix if not. The FITS table reader already deals with the units correctly so it's a matter of copying what is done there unit-wise. I can look into it early next week, but can also help if anyone else wants to try it out today.

[2016-10-28 16:27] mattjhill commented on #39
From the glue source it looks like the astropy_table data factories read in the units, but there is also a "meta" attribute in the Table object which I don't think is being passed to the Data object.  That's where the loader info would go in the table @nmearl put above.

A quick and dirty fix would be to just add `result.meta = table.meta` in the [astropy_tabular_data](https://github.com/glue-viz/

[2016-10-28 16:28] astrofrog commented on #39
There's no reason we can't add ``Data.meta`` as an official property in glue. Would that solve the problem here?

[2016-10-28 17:18] justincely opened #45 "tests for data loaders"
The data loaders need some unit tests.   Something simple enough may be to create datasets of the configuration we assume will work, call the function to make sure nothing breaks, cleanup the created files.

[2016-10-28 17:19] justincely opened #46 "Add coveralls coverage testing"

[2016-10-28 18:15] mattjhill commented on #39
Yup that would solve it.

[2016-10-28 19:13] pllim commented on #46
Note: Coverall check is meaningless until we have enough tests that cover stuff...

[2016-11-04 15:34] mattjhill opened #49 "'Uncertainty' component should be standard deviation in loaders"
Current loaders just give the variance or inverse variance.  Should be standard deviations for the error bar plots to be correct.

I'll take of making the correction

[2016-11-07 16:51] justincely opened #52 "Initial numbered release"
We need to put out a numbered release by COB so that i can include it in the recipe for AstroConda to build from.

Since astroconda can specify minimum numbers, I'd like us to just bundle a release of 0.0.1, which i'll set as mosviz >= 0.0.1 in the metapackage.  In the event we need to do an increment before/during the workshop day, we can just bundle a new release and astroconda will allow people

[2016-11-07 16:57] nmearl commented on #52
@justincely It doesn't matter, really. We can make a tag and "cheat" the system by changing the revision that the tag points to. This avoids having to put in an astroconda PR for every change to the release.

I suggest we just make a 0.0.1rc1 pre-release tag now (I'm apprehensive about calling it a full release), and just submit the astroconda PR now.

It'd be great if you could take care of that,

[2016-11-07 17:17] nmearl commented on #49
Fixed with https://github.com/spacetelescope/mosviz/pull/50

[2016-11-07 17:17] #49 closed

[2016-11-07 17:44] justincely commented on #52
No problem, i'll take care of the release later this afternoon.

For the release version - IMHO I think that a v0.0.x is an effective way to communicate an in-development codebase.  Adding the rcN at the end just seems to make it more complicated to version - then people have to remember both the code version and the release candidate version, and people are already confused about symantic version

[2016-11-07 17:54] nmearl commented on #52
Hahah, all good points, and I always much prefer simplistic numbering schemes. This was a previous decision for SpecViz with the whole "onion skin" release cycle that's been brought up previously. Basically, a "release" didn't happen until it was publicized, hence the use of release candidates, and the pre-release git flag.

But, MOSViz is quite a different beast as it's not a stand-alone applicat

[2016-11-08 02:09] justincely commented on #52
YOLO!

[2016-11-08 02:09] #52 closed

[2017-03-20 13:25] jhunkeler opened #54 "No module named 'glue.qt'"
## How to reproduce:

1. Install `glueviz > 0.9`

2. Import module

[code]

## Error:

[code]

[2017-05-15 18:29] janerigby opened #55 "Issue getting mosvis to work w astroconda"
Just downloaded astroconda for the Proposal Planning workshop, and on a lark tried to load the JWST Data Analysis tools.  It refuses to import mosviz, with the following error:
[code]

[2017-05-18 10:39] astrofrog commented on #55
MOSViz needs to be updated to support the latest version of glue - I'll work on it now

[2017-05-18 12:00] #54 closed

[2017-05-18 13:24] astrofrog commented on #39
Just an update on this, glue now reads in ECSV files and correctly stores the metadata in Data.meta. I'll see if I can then hook that up to the data loading.

[2017-05-18 13:34] astrofrog commented on #39
I'm a little worried that this solution requires the data table to be in ECSV format - I'm going to have a think about whether we can come up with a more general solution.

[2017-05-18 13:42] astrofrog commented on #39
Here is a possible solution - we don't encode information about the readers in the table (since users would have to edit the table metadata to read it which seems not ideal) but instead when the table is loaded with the MOSViz loader, we pop up a window asking users to select which readers to use for 1D, 2D spectra and image cutouts. To avoid listing all data factories in each dropdown menu for th

[2017-05-18 13:46] astrofrog commented on #39
(btw I see that the idea proposed in this issue is already implemented, but I'd still like to explore the way I was suggesting above since I think it would be more user-friendly)

[2017-05-18 16:00] astrofrog commented on #39
See https://github.com/spacetelescope/mosviz/pull/57

[2017-05-25 16:24] astrofrog commented on #42
We should not assume the slit is at the center of the cutout, so I think we should have something like slit_ra and slit_dec to give the position of the center of the slit. If we do this, we should also make it clear whether we expect the RA/Dec to be in a certain frame (e.g. FK5 J2000) or whether this is customizable.

[2017-05-25 16:25] astrofrog opened #58 "Fix x-axis locking"
At the moment, locking the axes causes the 1D spectrum to have new limits that are the *pixel* not world coordinates of the 2D spectrum, so the 1D spectrum ends up not being visible. I can try and work on fixing this.

Same goes for the y-axis locking...

[2017-05-25 16:26] astrofrog commented on #55
Fixed by #56

[2017-05-25 16:26] #55 closed

[2017-05-30 22:41] astrofrog commented on #58
Just FYI, I'm currently working on this

[2017-06-27 20:38] jhunkeler opened #62 "Invalid specutils import"
Perhaps `specutils.core` was deprecated upstream?

===== testing package: mosviz-0.0.dev391-26_g2213690_0 =====
import: 'mosviz'
Traceback (most recent call last):
  File "/home/jhunk/anaconda3/conda-bld/mosviz_1498595392597/test_tmp/run_test.py", line 27, in <module>
    import mosviz
  File "/home/jhunk/anaconda3/conda-bld/mosviz_1498595392597/_t_env/lib/python3.5/site-packages/mosviz/__init__.p

[2017-06-29 20:12] nmearl commented on #62
Thanks @jhunkeler. I'll push a fix soon -- I've wiped the old specutils repo given the new efforts to fix it, but I haven't made any changes to the pypi package. We're preserving the old specutils in the `legacy-specutils` branch, but perhaps, if it's being included through astroconda, it's probably pulling from the repo and not pypi. I'll be sure to add some requirements to the anaconda build fil

[2017-07-03 14:20] nmearl commented on #62
@jhunkeler Well, actually, this is strange. Looking at the specutils package build instructions, it seems like it's building v0.2.1 from the tagged release into astroconda. I'd assume mosviz is looking to the astroconda specutils version. In that case, it ought to be fine...

[2017-07-03 15:27] astrofrog commented on #58
This should now be fixed in master btw!

[2017-07-03 15:28] #58 closed

[2017-07-03 16:18] kassin opened #64 "Cannot install via Astroconda"

[2017-07-03 16:21] kassin opened #65 "Custom Glue loader for NIRSpec MSA + NIRCam"

[2017-07-06 18:13] kassin opened #67 "test"
- [ ] installation via astroconda

- [ ] installation faq for glue (and pointer to this from MOSViz documentation)

- [ ] data loader for JWST NIRSpec MSA + NIRCam level 2 + 3

- [ ] data loader for ACS & WFC3 grisms (5) data loader for NIRISS grism + direct images

- [ ] data loader for NIRCam grism + direct images

- [ ] wizard works with ground-based data sets in SDSS format

- [ ] wizard works

[2017-07-06 18:14] #67 closed

[2017-07-07 19:21] kassin opened #69 "Error when loading a bad data set or when loading an incorrect file type"
Instead of showing a small red symbol in the lower right, add in something like a pop up error message.

[2017-07-13 15:58] nmearl opened #72 "Back to School Release Tracker"
### Required
- [ ] installation via astroconda
- [ ] installation faq for glue (and pointer to this from MOSViz documentation)
- [ ] data loader for JWST NIRSpec MSA + NIRCam level 2 + 3
- [ ] data loader for ACS & WFC3 grisms
- [ ] data loader for NIRISS grism + direct images
- [ ] data loader for NIRCam grism + direct images (7) wizard works with ground-based data sets in SDSS format
- [ ] wizar

[2017-08-14 18:02] pllim opened #75 "RTD build broken"
See https://readthedocs.org/projects/mosviz/builds/5751341/

[2017-08-28 15:58] robelgeda opened #78 "Check if WCS is available"
Some headers do not contain WCS info. A check is necessary in `MOSVizViewer.render_data` to handle this issue. The following is an example of an error:
Line: `wcs = spec2d_data.coords.wcs`
Error: `AttributeError: 'Coordinates' object has no attribute 'wcs'`

[2017-11-18 00:00] robelgeda opened #80 "Selections with only one type of spectra"
If the user has only one type of spectra (2d or 1d), MOSViz should show only one of them. A mechanism to do this should be implemented starting from the Loader dialog (pass checks, display properly etc...).

[2018-05-07 19:14] brechmos-stsci opened #84 "Make mosviz callable from the command line"
It would be great to have mosviz callable from the command line (like cubeviz) and so that it starts up in "mosviz-view".

[2018-05-07 19:16] brechmos-stsci opened #85 "Test environment on github"
Confirm the test environment is setup (travis and appveyor), if not... set it up.

[2018-05-10 17:20] astrofrog opened #86 "Use glue 'fixed layout' functionality?"
We could consider using a fixed layout for MOSViz as we did for cubeviz.

[2018-05-10 17:26] astrofrog commented on #86
That's true - maybe it's fine as-is then.

[2018-05-13 02:16] kassin commented on #86
I agree with @nmearl that MOSVis should not have a fixed layout.  Our eventual goal for CubeViz is to "free the windows" so that the layout can be changed by the user.

[2018-05-13 23:48] #86 closed

[2018-05-17 13:34] pllim opened #87 "RTD failed"
https://readthedocs.org/projects/mosviz/builds/7202596/

Also, since I am not involved in this anymore, please submit a tribute to monitor RTD builds. Thanks.

[2018-05-17 14:10] astrofrog opened #88 "Fix compatibility with glue-core 0.13"
Currently MOSViz doesn't load due to an import error related to the Matplotlib toolbar

[2018-05-17 16:33] astrofrog commented on #75
Duplicate of #87

[2018-05-17 16:33] astrofrog commented on #64
I can also add the developer version of mosviz to the ``glueviz`` channel

[2018-05-17 16:52] pllim commented on #75
Haha. Fair enough.

[2018-05-17 16:52] #75 closed

[2018-05-20 20:29] astrofrog commented on #88
I'll work on this tomorrow

[2018-06-13 20:56] astrofrog commented on #88
Working on this today (got delayed)

[2018-06-14 09:16] astrofrog commented on #37
Looks like this is done:

<img width="806" alt="screen shot 2018-06-14 at 10 16 14" src="https://user-images.githubusercontent.com/314716/41403129-06d55e14-6fbc-11e8-8068-32054f2fd273.png">

[2018-06-14 09:16] #37 closed

[2018-06-14 09:17] astrofrog commented on #38
Looks like this is done (lower left):

<img width="806" alt="screen shot 2018-06-14 at 10 16 14" src="https://user-images.githubusercontent.com/314716/41403158-1ce9b498-6fbc-11e8-83b1-e2d7d50b22ca.png">

[2018-06-14 09:17] #38 closed

[2018-06-14 09:18] astrofrog commented on #42
This was implemented since this issue was opened and the slit is now shown at a specific ra/dec based on columns in the table:

<img width="806" alt="screen shot 2018-06-14 at 10 16 14" src="https://user-images.githubusercontent.com/314716/41403158-1ce9b498-6fbc-11e8-83b1-e2d7d50b22ca.png">

[2018-06-14 09:18] #42 closed

[2018-06-14 09:19] astrofrog commented on #46
I think we have enough tests that this would be instructive (i.e. I'd like to know if it's 20% or 50%)

[2018-06-14 09:21] astrofrog commented on #39
Now that https://github.com/spacetelescope/mosviz/pull/57 is merged I think we've basically addressed the original issue here.

[2018-06-14 09:21] #39 closed

[2018-06-14 18:45] #88 closed

[2018-06-14 19:28] astrofrog commented on #87
Fixed: https://readthedocs.org/projects/mosviz/builds/7345424/

[2018-06-14 19:28] #87 closed

[2018-06-14 19:45] astrofrog commented on #85
Travis is set up and works fine. It would make sense to add the appveyor config.

[2018-06-18 16:49] brechmos-stsci opened #90 "Add appveyor to Github test infrastructure"
I believe only travis is working for mosviz, so we will need to add Appveyor for the Windows testing.

[2018-06-18 16:51] astrofrog commented on #90
I add add the config file but I think someone else might have to actually enable the project on appveyor.com.

[2018-06-18 16:51] astrofrog commented on #85
I think we can close this in favor of https://github.com/spacetelescope/mosviz/issues/90

[2018-06-18 16:51] #85 closed

[2018-06-18 16:54] brechmos-stsci opened #91 "Ability to load data from the command line"
This is probably related to #84 but we will need to make sure there is the ability to load data from the command line and so that it goes right into the correct Mosviz layout automatically.

[2018-06-18 17:09] astrofrog commented on #91
Glue normally does the right thing and loads the data, so I think this is just a case of passing the command-line arguments to glue

[2018-06-18 17:14] brechmos-stsci opened #92 "Setup qtbot for UI testing"
There do not appear to be any (substantial) tests, so one initial step will be to setup some basic tests using the qtbot (could be replicated from cubeviz).

[2018-06-18 17:18] brechmos-stsci opened #93 "Create an initial upload into pypi"
Create an initial upload into pypi in order to get the mosviz name in there.

[2018-06-18 17:19] brechmos-stsci commented on #93
And, just did it. The current version in there is now 0.1 but this was just to retain the name.

[2018-06-18 17:19] #93 closed

[2018-06-18 17:22] brechmos-stsci opened #94 "Pipeline steps, output formats related to Mosviz"
We need to look into the current pipeline steps and output formats.
* What is saved at which step?
* What format is the data in?
* Does Mosviz have the ability to read in these intermediate steps?
* What type of work will need to happen to read in the intermediate steps?

[2018-06-18 17:26] brechmos-stsci opened #95 "MSA slitlet shapes displayed on cut-out images"
Small question of how this is implemented and then another larger question of whether we can use https://github.com/astropy/regions as part of this functionality.

[2018-06-18 17:43] brechmos-stsci opened #97 "Organize and document example datasets"
We will need to organize and document example datasets for testing of mosviz (and note which are public datasets or private ones).

[2018-06-18 19:01] kassin commented on #94
@mfixstsci Are you ok looking into this?  Let's talk.

[2018-06-18 19:04] kassin commented on #97
Please assign to me too.

[2018-06-18 19:27] brechmos-stsci commented on #90
I believe I now added it to appveyor on their site. I'll confirm shortly.

[2018-06-18 20:09] astrofrog commented on #64
It's now possible to install MOSViz using:

[code]

That is, there is a ``mosviz`` channel in the ``glueviz/label/dev`` channel. Once we have a stable release, there will be a conda package in the ``glueviz`` channel.

[2018-06-18 20:43] astrofrog commented on #90
Thanks, I'm fixing the AppVeyor config in https://github.com/spacetelescope/mosviz/pull/98

[2018-06-20 13:54] #90 closed

[2018-06-20 20:30] pllim opened #99 "Update the help"
Tyler Desjardins mentions that we should consider moving emails from `help[at]stsci.edu` to point to the web portal where possible and appropriate. For HST (or any non-JWST), it is https://hsthelp.stsci.edu . For JWST, it is https://jwsthelp.stsci.edu . Please update info in `setup.py`, `setup.cfg`, documentation, etc as appropriate.

Please close this issue if it is irrelevant to your repository.

[2018-06-21 11:34] javerbukh commented on #92
@brechmos-stsci should I start writing the tests in [test_mos_viewer.py](https://github.com/spacetelescope/mosviz/blob/master/mosviz/viewers/tests/test_mos_viewer.py) or somewhere else?

[2018-06-21 12:04] brechmos-stsci commented on #92
Sure, go for it.  We might move the file later, but if it works there for now, it is more important to get going on writing tests :)....

Thanks.

[2018-06-25 15:32] kassin commented on #97
Demo data from a workshop: /astro/3/jwst_da_sprint_testdata/mostools/workshop_examples
See README file in this directory.

[2018-06-25 15:39] kassin commented on #97
Various test data sets are in: /astro/3/jwst_da_sprint_testdata/mostools
They are not all formatted for MOSViz.

Galaxies from redshifts ranging from 0.2 to 1.2 with Hubble images:
z1Galaxies_Kassin
z1Galaxies_Kassin_JDE (the above edited by Eisenhammer - not sure what he did)

Planetary nebula observations:
PN_Muzerolle

nircam_nirspec_catalog: not sure what this is, perhaps an attempt to wrap th

[2018-06-25 15:43] brechmos-stsci commented on #97
Are they all in some common format so that we could write a short script to convert from the "not formatted for MOSViz" to be formatted for MOSViz?  Or is the data not in a standard format currently?

[2018-07-05 21:12] astrofrog commented on #84
Apologies for the delay in getting to this - I'll try and work on this tomorrow.

[2018-07-09 13:04] #84 closed

[2018-07-09 13:04] #91 closed

[2018-07-09 14:19] javerbukh commented on #95
- Multiple slits
- Slits at different angles
- One tab/stack/drop down per slit

[2018-07-09 15:49] javerbukh commented on #94
Get pipeline formats from the instrument teams. If that doesn't work, Susan will talk to the developers. James Muzerolle, Brian Hilbert, and Alicia Canipe are points of contact from the Instrument teams. Phil Hodge and James Davies are points of contact from the developers side.

[2018-07-09 15:54] javerbukh commented on #97
This information is to be put on a confluence page and then this ticket will be closed. @brechmos-stsci

[2018-07-09 19:58] brechmos-stsci commented on #97
I created a page at https://innerspace.stsci.edu/display/DATB/MosViz that organizes the list of data for internal use.  Discussion about specific data should move to that page.

[2018-07-09 19:58] #97 closed

[2018-07-09 21:22] kassin commented on #94
NIRSpec team:  Only level 2 data are available.  And only a few spectra are available.  The pipeline takes many many hours to run for a single spectrum, and my team lead couldn't even get it to finish.  Level 3 (combined exposures) are not yet ready.  The pipeline has not yet reached level 3 products for the NIRSpec MSA.

@brechmos-stsci Can you possibly ask someone on the development end?  I'd be

[2018-07-10 19:37] brechmos-stsci opened #102 "Change the title of the GUI"
The GUI title should be changed from `Glue` To `MosViz (version)`.

<img width="596" alt="image" src="https://user-images.githubusercontent.com/18348847/42533167-19f2687a-8457-11e8-87c3-ddd8db3a969b.png">

[2018-07-11 16:55] kassin commented on #94
Spectra are at: /astro/3/jwst_da_sprint_testdata/mostools/NIRSpec_simulated_July2018
From the README file:
data from James Muzerolle.

This is a level 2 simulated MSA observation of one object.  It has been run through the NIRSpec pipeline.  The pipeline has not yet reached level 3.

This is *one* of three nodded exposures.

[2018-07-11 18:03] kassin commented on #94
@brechmos-stsci I think the data I posted above is the level 2B data you are referring to?

[2018-07-16 15:58] #102 closed

[2018-07-16 17:24] drdavella opened #105 "Update relevant files to reflect updates to Astropy package template"

[2018-07-17 14:34] ibusko opened #107 "Error in data loader with test data"
When reading data in, MOSViz spits out error messages about non-existent files. This happens even though the files are present. Like:

[Errno 2] No such file or directory: 'spec1D/spec1d.1153.151.12004808.fits'
[Errno 2] No such file or directory: 'spec2D/slit.1153.151R.fits.gz'
[Errno 2] No such file or directory: 'cutouts/12004808.acs.v_6ac_.fits'
[Errno 2] No such file or directory: 'spec1D/spe

[2018-07-17 16:57] javerbukh commented on #107
I'm getting a very similar error. @ibusko are you on windows?

[2018-07-17 17:18] ibusko commented on #107
@javerbukh no, I am on Mac OSX.

[2018-07-19 12:34] drdavella opened #109 "Are we supporting Py 2.7?"
Per institute policy I'm guessing the answer will be "no", but I want to make sure there are no historical contingencies.

If not, we need to make some updates to the setup script and to the CI configs.

[2018-07-19 14:32] ibusko commented on #107
The errors I reported above show up in my personal dev installation from sources. When I install mosviz as per instructions on the Installation page, using a pristine conda installation, I get errors like the one below. This is from the same DEIMOS data set that works on my dev installation.

(base) kamino:/Users/busko $ glue
[Errno 2] No such file or directory: 'spec1D/spec1d.1153.151.12004808.fi

[2018-07-19 16:02] robelgeda commented on #95
We should have yaml file that describes the slit shapes of instruments. This is assuming that the NIRSpec MSA is not the only instrument that will be supported by MOSViz. @kassin

[2018-07-19 16:49] ibusko commented on #107
I'm not entirely sure, but I suspect part of the problem has to do with paths.

I also found other 2 problems with the jwst test data set.

1 - the 2D images have extensions named SCI and CON, while the mosviz reader expect DATA and VAR.

2 - the files in the spec1D/ directory are supposed to store tables with the extracted 1D spectra. They store images instead:

Python 3.6.5 |Anaconda, Inc.| (def

[2018-07-19 18:57] eteq commented on #95
@robelgeda - to clarify, part of the point of using `regions` is that that way we *don't* have to invent a new "standard" for defining regions. You can see in http://astropy-regions.readthedocs.io/en/latest/ that `regions` current supports `ds9` and `crtf` formats, and the idea is to eventually support the `VO` region standard.

That said, those are all regions in the sense of specific regions mea

[2018-07-19 21:18] robelgeda commented on #95
I agree, my idea is the "NIRSpec slits are rectangles of length X width Y" type of definitions.

[2018-07-24 14:34] #109 closed

[2018-07-30 21:16] javerbukh commented on #92
The requirements for this issue have been met, a new issue will be opened for Sprints 2+ to continue to add Mosviz testing.

[2018-07-30 21:16] #92 closed

[2018-07-30 21:20] javerbukh opened #111 "Create more Mosviz tests using qtbot"
Add more comprehensive testing to the Mosviz GUI

[2018-08-14 16:53] pllim opened #113 "Retire Python 2"
Python 2 will not be maintained past Jan 1, 2020 (see https://pythonclock.org/). Please remove all Python 2 compatibility and move this package to Python 3 only.

For conda recipe (including `astroconda-contrib`), please include the following to prevent packaging it for Python 2 (https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html?preprocessing-selectors#skipping-builds):

[

[2018-08-20 18:47] eteq opened #114 "Move test data to artifactory"
I just noticed there's ~9MB of files in the ``mosviz/tests/data/`` directories that look to be test files. In general it's dangerous to put such large files in git repos, and anyway it's problematic to bloat the source distribution unnecessarily this way.

So what about instead hosting the testing files on artificatory? I'm not an expert in how to do this, but this is something STScI is already pa

[2018-08-20 18:58] eteq opened #115 "Need a "getting started" docs section"
There isn't a section in the docs that naturally comes after "installation".  It's generally good practice to have at least one "getting started" or "basic example" section that spoon-feeds the user commands of how they should use a tool.  Without that it's very difficult for someone not already steeped in the development process to jump in and give it a try.

So there should be just such a thing

[2018-09-10 13:38] robelgeda opened #116 "Displaying Multiple Slits"
Right now MOSViz displays a single slit and its corrosponding 2D spectrum by aligning the y axes as follows:
<img width="2230" alt="screen shot 2018-09-10 at 9 35 30 am" src="https://user-images.githubusercontent.com/10345916/45300645-ec982980-b4dc-11e8-9ece-a81689729358.png">

Should MOSViz have the ability to display multiple slits at once? If so how should the cutout slit to 2d image alignment

[2018-09-10 13:50] robelgeda opened #117 "SpecUtil 0.2.2 Dependency"
Currently MOSViz is dependent on SpecUtil==0.2.2. Its only available with `pip` as of now. We should think about updating to the current version.

[2018-09-10 13:50] robelgeda opened #118 "Add MOSViz Logo"
Add the MOSViz logo, icon and splash to the repo.

[2018-09-10 14:01] nmearl commented on #117
MOSViz should not be using specutils 0.2.2 this sprint. The effort last week was to bring specutils up to version 0.4 and have a release, but we do have some [lingering blockers](https://github.com/astropy/specutils/milestone/3) that we hope to have done today(!).

[2018-09-10 14:03] robelgeda opened #119 "Refactor the MOSViz comments controller"
Move the comments and flags code out of the `MOSVizViewer` class.

[2018-09-10 14:46] javerbukh opened #120 "Embed Specviz in Mosviz"

[2018-09-10 14:48] javerbukh commented on #120
Discuss with Jesse and Robel about how their PRs will be affected.

[2018-09-10 14:50] robelgeda commented on #117
[code]

[2018-09-10 14:57] javerbukh commented on #114
Contact Matt Rendina about hosting data

[2018-09-10 14:59] hcferguson opened #121 "Sprint 3 Acceptance criteria"
Updated v0.3 Acceptance Criteria March 5, 2019:

Test data and Unit tests: #200 #184 #157
Helper tools: #169 #196 #195 #183
Docs, screencasts & screenshots: #199 #198 #197 #196

- [ ] Release a well-documented working version of the “minimum viable MOSViz"
- [ ] Release a simulated dataset in pipeline format
  - [ ] NIRSpec + NIRCam with WCSs and MOS Slit identification as close as we can get to e

[2018-09-10 15:00] javerbukh commented on #111
Prioritize science related tasks rather than UI.

[2018-09-10 15:02] eteq commented on #116
After some discussion in a sprint tag-up, we concluded this is not necessary - we are choosing to "define it away" in that one slit is one row in the table, and if it's two disjoint segments that can be encoded in the "region".

So conceptually there's only one "slit" per table row.

[2018-09-10 15:02] #116 closed

[2018-09-10 15:11] javerbukh commented on #78
Solved with PR #112

[2018-09-10 15:11] #72 closed

[2018-09-10 15:11] robelgeda commented on #80
If the item is missing, we should still display the available times.

[2018-09-10 15:14] #65 closed

[2018-09-10 15:20] javerbukh commented on #46
Run the coverall at the start of the sprint and again at the end so we can see how it improved.

[2018-09-10 17:39] ibusko commented on #107
The errors are present under version 0.1.1. They do not show up in the dev version (installed from source master in repo).

Closing.

[2018-09-10 17:39] #107 closed

[2018-09-11 10:14] astrofrog commented on #46
I suggest we set up codecov - it's easy to do and we could just have it running in each PR.

[2018-09-11 10:20] astrofrog commented on #46
(I'm happy to help if needed)

[2018-09-11 12:33] drdavella commented on #113
This was addressed by #110.

[2018-09-11 12:33] #113 closed

[2018-09-11 12:36] drdavella commented on #99
Closing since this doesn't apply to this repo.

[2018-09-11 12:36] #99 closed

[2018-09-11 13:09] brechmos-stsci commented on #64
@astrofrog We talked about this yesterday a bit. We are going to plan on doing a release later next week. So, if you could confirm the mechanisms via glueviz conda are good.

I'll create a separate ticket for the actual release early next week.

[2018-09-11 13:42] javerbukh commented on #69
Solved by the QDialog that pops up when loading files into mosviz. The test I used was to try loading the manga data cube into mosviz and I received multiple error boxes as well as the main DataLoader QDialog, which asks for the user to provide data corrections in order to proceed.

[2018-09-11 13:42] #69 closed

[2018-09-11 21:08] robelgeda commented on #45
Tests are already have been added. Outdated ticket, closing.
[Data Loader Tests](https://github.com/spacetelescope/mosviz/blob/master/mosviz/loaders/tests/test_mos_loaders.py)

[2018-09-11 21:08] #45 closed

[2018-09-12 13:00] #117 closed

[2018-09-12 13:21] mfixstsci opened #125 "Add Dependency for Bottleneck"
When trying to install MOSViz with a fresh environment via `python setup.py install` it crashed when trying to process the dependency for `bottleneck`. If you `conda install bottleneck` or `pip install bottleneck` and then retry, the install completes.

[code]

[2018-09-12 13:36] robelgeda opened #126 "Advanced Slit Editor"
Infrastructure for the slit editor was introduced in #112. The next step will be to implement capabilities and features.

### Slit selection UI as of now:

<img width="36" alt="screen shot 2018-08-07 at 2 05 02 am" src="https://user-images.githubusercontent.com/10345916/43757331-79f9ca48-99e6-11e8-9416-7870446ccd11.png">

<img width="445" alt="screen shot 2018-08-07 at 2 04 49 am" src="https://use

[2018-09-12 13:37] robelgeda commented on #126
Comments from @eteq :

[code]

[2018-09-12 14:31] #95 closed

[2018-09-12 16:23] javerbukh opened #127 "Load default values in the loader selection screen"
When MOSViz is first loaded, a dialog pops up that has the user set values in a series of comboboxes that will then allow MOSViz to parse their data. This dialog has not been using the default values that are stored in the code, instead forcing the user to go through and manually select all of the values.

[2018-09-12 18:07] brechmos-stsci commented on #115
Just for reference, I think this would be good in a Wiki.  @mfixstsci is going to fix up the README.rst file and will reference the page created based on this issue.

[2018-09-12 18:34] drdavella commented on #125
It turns out that `astropy-helpers` was a red herring. The problem lies solely with `bottleneck`. I have opened an issue there, but in the meantime a possible workaround is to add `setup_requires=['numpy']` to the `setup` call.

[2018-09-12 20:04] #118 closed

[2018-09-13 13:40] drdavella opened #130 "What versions of Python and Astropy do we intend to support?"
Personally I'd vote for >=3.5 and >=3.0. respectively, but I'm not sure whether there are reasons to support other versions of either.

[2018-09-13 14:40] nmearl commented on #130
I agree with this since specutils is the same, which specviz relies on, which would be necessary for use in mosviz.

[2018-09-13 14:45] #127 closed

[2018-09-14 10:49] astrofrog commented on #64
@brechmos-stsci - the glueviz channel should work fine but I'll need to be told when the release is done to make sure the build is triggered. However, one issue I foresee is that if we are dependent on the new specviz, we'll need to do a release of specviz first? Or are we still relying on the old specviz for now?

[2018-09-14 12:15] brechmos-stsci commented on #64
Yes, this will use the new specviz.  The plan is mid next week to start all this stuff. I am going to create a ticket in mosviz for the release.

[2018-09-14 12:16] brechmos-stsci opened #132 "Notes for release of mosviz point release"

[2018-09-14 13:43] hcferguson opened #134 "Video demo for release 0.2"
It would be good to have a short (2-3 min) video demonstrating the basic use of MOSViz. Things to demonstrate might be:

- [ ] Read in a JWST NIRSpec data set
- [ ] Create a set of NIRCam postage stamps
- [ ] Select a few spectra from the table
- [ ] Lock the axes in both the spectral and spatial direction
- [ ] Zoom and pan in both directions
- [ ] Zoom in on a spectral feature, pop into specviz

[2018-09-14 15:37] mfixstsci commented on #115
I had a short discussion with @nmearl about what we should include in the getting started documentation yesterday. I am using the Glue getting started documentation as a reference since it covers some of the same steps we want to include here (launching MOSViz GUI, how to open data, etc). Now that I am working on the MOSViz specifics, what functionality do we want to show the users to get them sta

[2018-09-14 15:45] hcferguson commented on #115
- Creating NIRCam cutouts
- Popping into SpecViz to fit a Gaussian to a line, subtracting continuum

[2018-09-14 15:48] #105 closed

[2018-09-14 15:48] #125 closed

[2018-09-14 15:48] #130 closed

[2018-09-14 15:55] brechmos-stsci commented on #46
Closed by https://github.com/spacetelescope/mosviz/pull/129

[2018-09-14 15:55] #46 closed

[2018-09-14 15:55] brechmos-stsci commented on #64
Closing as this will be worked out next week with the new release.

[2018-09-14 15:55] #64 closed

[2018-09-15 21:08] astrofrog commented on #115
Just FYI, I recently made it possible to programmatically save screenshots from glue, and have started to set up a script to make the screenshots in the glue getting started reproducible:

https://github.com/glue-viz/glue/blob/master/doc/getting_started/images/make_screenshots.py

I just thought I'd mention it in case it would be useful for the MOSViz getting started - the idea is that it makes it

[2018-09-17 16:26] brechmos-stsci opened #137 "create zip file of demo data"
Create a simple zip file with data that can be directly loaded into mosviz so users have a simple quick load dataset.

- [x] Find dataset we can share (@brechmos-stsci)
- [x] Find "permanent" location to store the data (@eteq)
- [x] Put dataset into "permanent location"
- [x] Update documentation with location

[2018-09-17 16:53] kassin commented on #137
You are allowed to publicly release these data as long as you keep it to ~50 objects.  Please see the README files in each directory on central store for permissions for the other data sets.  I tried my best to get the authors to write whether they could be publicly released or not.

[2018-09-17 17:17] eteq commented on #137
@kassin - the DEIMOS data are yours, right?  If we end up posting ~50 object subset on [Zenodo](https://zenodo.org/) do you want to be the one to do that so that it makes you officially the public "owner"?

[2018-09-17 17:32] kassin commented on #137
I don't need to officially be the owner.  It's only a practice data set.  We will eventually replace it with something much better.  I'm hoping one of the product owners of the fall sprints will have a better data set.

[2018-09-17 17:45] hcferguson commented on #115
@mfixstsci I think the topics suggested for the video in #134 are all candidates for a few words in the getting-started section as well.

[2018-09-17 17:55] brechmos-stsci commented on #137
The deimos example dataset we have has 79 objects. @kassin may we zip it up and release as a test dataset for people who want to try out mosviz?

[2018-09-17 17:59] kassin commented on #137
Yes 79 are fine to package and release.  Thought you had the full sample of 544.

[2018-09-17 18:46] eteq commented on #114
Note that this is a bit overtaken by #137.  Artifactory is a good place for *large* datasets and the like, but it's probably not great for.

It's still an open question whether some of the *future* (especially, e.g., JWST) datasets should be in artifactory for other more end-to-end tests, though.  This requires coordination with SCSB as the keepers of the pipeline, so probably not worth stressing

[2018-09-17 18:56] eteq commented on #137
More on the general problem of where data belongs at https://github.com/spacetelescope/style-guides/blob/master/guides/where-to-put-your-data.md#storage-locationplatform-for-non-archived-datasets .

Based on that I'd say the path of least resistance is to put the data on Zenodo.  To do that, go to https://zenodo.org/, and choose the "upload" button.  Then just fill in the form and include the zip

[2018-09-17 18:57] eteq commented on #137
One related but possibly a bit tangential thought:  if we also want to write some tests using this data (which is a good idea since it's what users will see...) a convenient choice is to use the astropy remote data machinery: http://docs.astropy.org/en/stable/utils/index.html#module-astropy.utils.data .  Note that tests using this should have a mark that makes it so they do *not* run automatically

[2018-09-17 19:42] brechmos-stsci commented on #137
Not yet. There is a ticket Nick is supposed to do for this sprint to get data up into artifactory for us to use for tests.

[2018-09-17 19:49] nmearl commented on #114
I've also spoken with Matt and he's willing to set up a repository for us whenever we're ready (I'll probably send around some information on gaining access).

[2018-09-18 16:34] javerbukh commented on #43
@astrofrog can you take a look at this in the next day or two?

[2018-09-19 13:53] nluetzge commented on #115
Some comments on the getting started documentation. As somebody who never uses Glue I had some initial issues on how to load the data. I think its all there but might need some more emphasizing.

1) Its not clear from the text what exactly to open with MOSViz. The description just says what kind of data is needed but it does not say "open the table file only" at the beginning I was trying to open

[2018-09-19 16:23] brechmos-stsci opened #139 "Add dependency on astropy regions"
Currently when mosviz is installed it does not have a dependency on astropy regions, which is required.

[2018-09-19 18:46] brechmos-stsci commented on #137
I am going to close this ticket now as all the checkboxes have been fulfilled.

[2018-09-19 18:46] #137 closed

[2018-09-19 18:54] ibusko opened #141 "Cutout won't display with JWST data set"
The cutout display for the JWST data set is not working. It shows a blank image.

The error was present before the level 2 support code was merged. I eventually figured that somehow it has to do with the slit drawing mechanism. If I comment out line 753 in mos_viewer.py  (image_widget.set_slit_limits()), the image displays, but then the slit itself won't display. The axis labels differ in each cas

[2018-09-19 20:15] mfixstsci commented on #115
@nluetzge I am going to refer you here:

https://github.com/spacetelescope/mosviz/pull/136

If you have more comments/other things you would like to see, we can talk there. I just went ahead and updated the docs for installing and running MOSViz. Hopefully things are a little bit more clear :)

[2018-09-20 14:12] #139 closed

[2018-09-20 15:39] mfixstsci commented on #134
@javerbukh In my mind, we would do something similar to the SpecViz demo:

https://specviz.readthedocs.io/en/latest/#demo

Looks like it covers the basics of the UI. Assuming we can open SpecViz in MOSViz, we can do some of the line fitting shown in the demo. Let me know what you think of this idea!

[2018-09-20 15:41] brechmos-stsci commented on #111
A few more tests were added. We are going to call this done and will add another ticket for loaders for inter-sprint work etc.

[2018-09-20 15:41] #111 closed

[2018-09-20 15:44] nmearl commented on #134
Note that model fitting is not fully implemented in the new specviz.

[2018-09-20 15:55] javerbukh opened #144 "Update Tests for Data Loading"
Currently, the data set used for testing MOSViz is deimos data which is housed within the `mosviz/tests/data/` directory. With the closing of ticket #137, data will now be hosted on Zenodo. MOSViz will need to be updated to use that data for testing.
Also, when adding data for testing, a different method is used (add_data vs add_data_for_testing) because the loader_selection dialog cannot be acces

[2018-09-20 20:37] hcferguson commented on #94
Some info on formats from Phil Hodge.

Here is a link to our documentation:

     https://jwst-pipeline.readthedocs.io/en/latest/

In that page, clicking on "Available Pipelines" gives you info on running the steps and pipelines, and this page:

https://jwst-pipeline.readthedocs.io/en/latest/jwst/package_index.html

gives info on the individual steps and pipelines.  I have to admit, the descriptio

[2018-09-21 14:03] nmearl commented on #114
Based on @eteq it seems we should invest in either embracing git LFS, or the astropy setup-another-data-only-repo. Since we're invested in the astropy template eco-system already, it seems the latter would be preferred.

[2018-09-21 15:04] hcferguson commented on #114
I still wonder whether [dvc](https://dvc.org/features) is worthy of investigation or experimentation.

[2018-09-21 18:37] hcferguson commented on #121
Current Status & comments:

- [ ] Release a well-documented working version of the “minimum viable MOSViz"
    - Good progress but not ready for release
- [ ] Release a simulated dataset in pipeline format
    - Iterating on this on in [JWSTSIMS-6](https://jira.stsci.edu/browse/JWSTSIMS-6) and #94
  - [ ] NIRSpec + NIRCam with WCSs and MOS Slit identification as close as we can get to expected for

[2018-09-21 18:40] #80 closed

[2018-09-25 02:20] nluetzge opened #146 "Units in custom loaders"
There seems to be no way of specifying the units of the data in the custom loaders, is there? It looks like the units for wavelength is by default Angstrom so I did a workaround to transform microns (which I would think is the more natural unit especially for JWST) to angstrom by hand in the loader. I tried using astropy units but this did not seem to work.

[2018-09-26 15:56] hcferguson opened #147 "NIRSpec generation"
I've been trying to track down whether the pipeline would be JWST producing the NIRSpec table, relieving MOSViz of the need to do so. At the moment, the answer is no, but it would be possible to request this. Before deciding whether or not to do that, I thought perhaps we should discuss it here. We need to address these issues regardless of where the table generation is implemented.

- We don't ye

[2018-10-04 22:46] astrofrog commented on #43
Sorry for the delay, I'll try and look at this shortly

[2018-10-08 15:01] brechmos-stsci commented on #94
@hcferguson Data loading and load-ability will be an ongoing thing.  Is this ticket at the stage where we can close it (for the previous milestone)?

[2018-10-09 03:52] hcferguson commented on #94
@brechmos-stsci It should not hold up the release, if that's what you are asking. I'd be inclined to leave it open and remove the sprint3 milestone, but if you'd prefer to close it and immediately open others that's okay. These could be multiple issues or all on one issue:

- Read level 3 NIRSpec data
- Create the target table for NIRSpec level 3 data if not present
- Read level 2 NIRSpec data
- C

[2018-10-09 13:44] mfixstsci commented on #134
Hey @brechmos-stsci, sounds good to me. We need to add the audio over the video we shot from a few weeks ago. The feedback from the team about what we had in hand + the specviz embedded in mosviz functionality with audio would be sufficient as a demo for the release.

[2018-10-15 13:42] astrofrog commented on #43
@nmearl - could you provide some screenshots to illustrate the issue? Locally if I make a subset then I can select it from the dropdown menu:

<img width="308" alt="screen shot 2018-10-15 at 14 42 25" src="https://user-images.githubusercontent.com/314716/46954461-917fc680-d088-11e8-9d58-bbbc7dafb2c4.png">

Do you mean that you want the 'active subset' dropdown menu to match the dropdown menu in th

[2018-10-15 16:10] #43 closed

[2018-10-15 16:10] astrofrog commented on #43
I think this was fixed in the mean time, so closing.

[2018-10-16 13:44] brechmos-stsci commented on #114
I think you are looking for https://zenodo.org/record/1421377/files/deimos.zip...

[2018-10-16 13:45] javerbukh commented on #114
Yes, thank you!

[2018-10-17 12:44] brechmos-stsci commented on #134
Another ticket will be opened for an updated video once specviz is embedded.

[2018-10-17 12:44] #134 closed

[2018-10-22 14:34] robelgeda commented on #141
The cutouts for the JWST data do not have correct WCS information. The images are displaying but are out of view.

[2018-10-22 14:34] #141 closed

[2018-12-03 22:54] hcferguson commented on #147
The _s2d.fits file SCI extension has the following info on the slit and the target position in the slit:

[code]

(Not absolutely certain I'm looking at the latest-generation output file in the above.)

MOSViz in its current state expects slit-width and slit-height, which can be inferred from SLTSIZE, but that requires finding the arcsec per pixel conversion somewhere. It would be nice to be able

[2018-12-04 03:19] hcferguson commented on #147
Not instantly finding documentation on how `S_REGION` is defined. In the first two examples I've looked at, it seems like walking from the first to second corner is along the dispersion direction, because this is shorter than the distance between the second & third corner. Is this correct, and is it always the case?

If so, until we figure out what to do with regard to JWST data models in MOSViz,

[2018-12-04 03:55] robelgeda commented on #147
@hcferguson I was hoping for something like this! This would help further automate the table generation.

[2018-12-04 14:20] nden commented on #147
The S_REGION keyword is intended to store the spatial footprint of an imaging observation using the VO standard STCS representation. It's recomputed in various steps in the pipeline. Normally the corners of the image in pixels are transferred to sky using the WCS. Nirspec is a bit special because the result of applying the WCS transforms to the corners of the slitlet is always NaNs, so we use othe

[2018-12-04 14:22] philhodge commented on #147
The keyword database gives this definition of S_REGION:  "spatial extent of the observation, footprint".  Looking at assign_wcs/util.py, however, it looks to me as if this keyword gives the right ascension and declination at the corners of a quadrilateral that contains `model.meta.wcs.bounding_box`.  The slit projected onto the sky can of course be tilted with respect to RA and Dec, but the limits

[2018-12-04 14:22] nden commented on #147
`SRCXPOS` and `SRCYPOS` are measured relative to the center of the slitlet, so perhaps that's not very useful for mosviz. In case you need them I can dig out the complete info on the frame they are in .

[2018-12-04 17:13] SaOgaz commented on #147
When I was chatting with @hbushouse about this, we we're looking at the pixelscale CDELT keywords in the s2d headers as a way to get the pixel to arcsecond conversion.  But I'm not super familiar with this stuff, so maybe that's not the right way to go about it?

[2018-12-04 19:00] SaOgaz commented on #147
Forgot to say, that additionally Howard and I looked at the SLITSIZE1 and SLITSIZE2 keywords to get the dimensions of the slit.

[2018-12-04 19:13] hbushouse commented on #147
SLITSIZEn do NOT give the size of the actual entrance slit. They give the size of the cutout region used to extract each 2-D cutout around each spectral trace from the original 2048x2048 MOS image. So SLITSIZE1, for example, which is in the dispersion direction, can be very large (10's or 100's of pixels), in order to cover the entire spectral trace end-to-end. This is WAY bigger than the actual e

[2018-12-04 19:44] hcferguson commented on #147
From James Muzerolle via email:

Unfortunately, I don't think those specific values are output anywhere.  The sky coordinates of the corners of each slit, or the center, can be calculated on the fly using the instrument model transforms, which are accessible from the data model in the *_cal.fits output.  The relevant quantities could be derived from that, all of which would only require a few line

[2018-12-04 20:12] hcferguson commented on #147
@SaOgaz Given James Muzerolle's comment and the thread above, my suggestion for right now is to use S_REGION for now (as done in the notebook I sent you) as if it has the information we need, since that information isn't in the headers right now.

[2018-12-06 21:00] hcferguson commented on #147
Attempts to translate the current NIRSpec pipeline output into the old expected format by @hcferguson and @SaOgaz continue to fail. The most recent error log is attached. My feeling is that it is not worth pursuing this, but should instead concentrate on building an *interim* loader that will read the `_x1d.fits` and `_s2d.fits files` directly and generate the table on the fly. It will be *interim

[2018-12-13 17:21] SaOgaz commented on #147
@hcferguson, @nmearl tried to load the files with his new mosviz, but ran into the same WCS error.   I'm not sure what the source of this error is, do you know why it's happening, how we can fix it?

[2018-12-13 17:31] nden commented on #147
@SaOgaz If the error you get is the one in the log above, it means the value of CUNIT3 is not FITS compliant. Try setting it to "um" instead of "micron".

[2018-12-13 18:45] SaOgaz commented on #147
New error:
"Encounted an error during WCS parsing. Discarding world coordinates!
ERROR 13 in wcssub() at line 815 of file cextern/wcslib/C/wcs.c:
Non-separable subimage coordinate system."

[2018-12-15 14:09] astrofrog opened #154 "Don't require numpy for setup?"
Since MOSViz is pure Python, I don't think numpy is required for the setup, so we should remove ``setup_requires``:

https://github.com/spacetelescope/mosviz/blob/master/setup.py#L153

[2019-01-09 20:34] pllim opened #155 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [x] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-14 19:42] robelgeda opened #156 "Loader Selection Bug"
There is a bug in the MOSViz loader selection ui where the slit parameter combo boxes appear unpopulated. To trigger this bug, first drag the data into glue and select MOSViz Viewer. The loader selection should pop up and look normal. If you close that dialog out without pressing ok and reopen the dataset using MOSViz, you will see that one of the attributes in the paramaters section has an empty

[2019-01-14 22:32] astrofrog commented on #156
Ok I'll look into it!

[2019-01-17 19:39] SaOgaz opened #157 "What JWST pipeline data can we use for unit tests"
We should add unit tests for the following files if we can get clearance from the NIRSpec team:

NIRSpec MSA (lvl 2 data)
f170lp-g235m_mos_observation-6-c0e0_001_dn_nrs1_mod_cal_ref.fits
f170lp-g235m_mos_observation-6-c0e0_001_dn_nrs1_mod_s2d_ref.fits
f170lp-g235m_mos_observation-6-c0e0_001_dn_nrs1_mod_x1d_ref.fits

[2019-02-07 21:25] hcferguson commented on #132
Closing this since it's been empty since Sept 2018.

[2019-02-07 21:25] #132 closed

[2019-02-07 21:31] hcferguson commented on #78
I don't see an indication on the PR that was retested, but I perhaps I missed it. Once it's been tested on a file without a WCS in the header, I think this issue can be closed.

[2019-02-08 15:24] hcferguson commented on #120
@nmearl @javerbukh I think this can be closed, right?

[2019-02-08 16:13] hcferguson opened #158 "WFSS grism support"
MOSViz could be a useful tool for inspecting wide-field slitless grism data from NIRISS and NIRCam.  We should consider supporting that. Complications include:

- JWST pipeline products don't include a rectified 2D extracted spectrum
- There is no slit (although there is an extent of the extraction aperture in the cross-dispersion direction).
- Users will no doubt want to visualize contaminating o

[2019-02-08 16:15] hcferguson opened #159 "Visualize extraction aperture separate from MOS aperture"
The extraction aperture need not match the MOS aperture. In the JWST case, in general, I think it doesn't. As long as the 2D extraction reflects this (need to investigate with JWST pipeline folks), maybe we don't need a way to visualize it. But if the 2D extraction doesn't represent the extraction box in the cross dispersion direction, then perhaps we need a way to visualize this as an image overl

[2019-02-08 16:17] hcferguson opened #160 "Visualize background aperture(s)"
Users will no doubt be curious about where their background is coming from. We should think about whether/how to visualize background apertures on the image cutouts. In the case where the background extraction apertures are local to each source, this might be pretty easy. Otherwise, I could imagine it being rather complicated.

[2019-02-08 16:21] hcferguson opened #161 "Visualize contamination"
NIRSpec MOS is not entirely free from contamination. There could be light from bright sources elsewhere in the field leaking through even closed apertures, and there will be scattered light from the open apertures. In principle there could even be apertures that have been intentionally opened in the same row as the spectrum of interest (although I suspect the MSA planning tool prevents this).

Sho

[2019-02-11 15:18] javerbukh opened #162 "Overall test coverage needs - python 3.6, 3.7"

[2019-02-11 15:19] javerbukh opened #163 "Cleanup on setup file"

[2019-02-11 15:19] javerbukh opened #164 "DOI setup"

[2019-02-11 15:19] javerbukh opened #165 "Add changes file"

[2019-02-11 15:19] javerbukh opened #166 "Adding coverage to tests (coveralls)"

[2019-02-11 15:20] javerbukh opened #167 "Packaging practices/think about removing astropy-helpers dependency"

[2019-02-11 16:30] javerbukh opened #168 "MVP version 0.3: read current Nirspec files and somehow hack the slit information"

[2019-02-11 16:34] javerbukh commented on #168
Breakout discussion for Tuesday February 12th

[2019-02-11 16:37] javerbukh commented on #157
Test with real files using Box (needs loader that can actually use these files first #168 ).

[2019-02-11 16:39] javerbukh commented on #144
Covered by #157

[2019-02-11 16:39] #144 closed

[2019-02-11 16:40] javerbukh commented on #114
Covered by #157

[2019-02-11 16:40] #114 closed

[2019-02-11 16:42] javerbukh commented on #94
Make sure we can handle level 2 and level 3 in #157

[2019-02-11 16:42] #94 closed

[2019-02-11 16:43] javerbukh commented on #157
Make sure this works with level 2 and level 3 data

[2019-02-11 16:52] javerbukh opened #169 "Include refactored cutout tool"

[2019-02-11 20:51] hcferguson opened #170 "Plan for loading NIRSpec files for v0.3 (not a long-term solution)"
This is to summarize just the near-term decisions made in the breakout 2/11 with @robelgeda @kassin @hcferguson and @drdavella. (@robelgeda -- there is one tweak relative to the whiteboard -- you can get the slit PA using Astropy as you suggested, see below). Also @SaOgaz might be helping with this work.

**Current status**

The current version of MOSViz was designed on the (incorrect) assumption

[2019-02-12 01:15] kassin commented on #170
THANK YOU!

[2019-02-12 02:48] hcferguson opened #171 "Long-term plan for NIRSpec Aperture information and overlays (Discussion topic)"
This issue is for discussion. Open other issues for implementation once we have a plan.

## User Story

As a JWST observer I need to know what patch of sky is contributing to my observation in order to properly interpret the results.

## Elaboration

MOSVis should be able to project the following information onto a NIRCam (or other) image:

1. The MSA aperture used for a single observation for a s

[2019-02-12 13:51] brechmos-stsci commented on #164
I setup the Zenodo DOI webhook.

Later next week if we can do an RC, then I can add the badge to the README file.

[2019-02-12 17:39] brechmos-stsci opened #173 "Travis build matrix astropy=3.0 too old"
Errors are coming up in the testing as the astropy 3.0 dependency is incorrect, we need to be testing against stable (>=3.1).

[2019-02-12 17:59] #173 closed

[2019-02-12 18:39] #165 closed

[2019-02-12 18:40] brechmos-stsci commented on #166
DIdn't realize, but codecov is already setup for mosviz. Currently have a question in to whether the Institute recommends one over the other (or requires one over the other). Then will either change or just close this ticket.

[2019-02-13 01:55] hcferguson opened #175 "Long-term plan for loading NIRSpec files (discussion topic)"
This issue is for discussion. Open other issues for implementation once we have a plan. See issue #170 for the short-term plan.

## User Story

As a JWST user I would like it to be easy to load my data into MOSViz, so that I can concentrate on the science rather than data formats.

## Elaboration

MOSViz was designed based on an early concept that JWST NIRSpec data would have the following structu

[2019-02-13 11:01] astrofrog opened #178 "I/O exceptions hidden"
Currently when the e.g. spectrum 1D loader fails, the data loader dialog (where one selects loaders, columns, etc) says that the error is in the terminal but this is not the case. It's easy to fix things so that the error is seen, but the output of the terminal is then quite messy if the default selected loaders don't work. I think a better approach would be to have a small button next to each loa

[2019-02-13 16:32] hcferguson commented on #171
Actually, I think I'm wrong about the the statement for segmaps that in ginga "it would be easy to overlay on an NIRCam image." Ginga doesn't resample the images, it just shifts them (right @plim?). So if you view a large enough field, the distortions of the NIRCam image and the MSA segmap will be different and they will give misleading offsets. This removes what I thought might be the major advan

[2019-02-14 17:36] brechmos-stsci commented on #166
codecov is the way of the future, so this is good so closing.

[2019-02-14 17:36] #166 closed

[2019-02-14 19:36] hcferguson commented on #171
After discussions with @kassin and James Muzerolle, it seems like option 1 has significant advantages over for two aspects of the overall problem:

- viewing background apertures; in principle these could be spread around the detector
- viewing apertures projected on a NIRCam image. The regions package already supports this for quite a few different visualization tools.

[2019-02-14 21:45] hcferguson commented on #171
@drdavella, @nden, @perrygreenfield Do you have any thoughts on the best way to capture the region information in the JWST data models and the best way to serialize it to files? Some musings below...

The JWST `MultiSlitModel` currently has a special member called `slits` that carries information associated with a single source. For keeping all the info together, it may be useful to extend this to

[2019-02-14 22:05] perrygreenfield commented on #171
regarding different extraction apertures from group apertures:

How would this be determined? From the proposal, or some other algorithm in the pipeline? Not that it affects the serialization and data model but it may relate to what may exist as the variants that have to be dealt with.

regarding position angle of the dispersion axis:

I’m unclear about this part. Presumably that only makes sense

[2019-02-14 22:14] perrygreenfield commented on #171
But region information can be captured in two different frames. For the level 2 stuff, it can be described in the slit plane, while using the wcs to convert it to world coordinates when combining data. For slits it would seem natural to use a polygon representation for the spatial coordinates and use the wcs model to map that from one frame to another. So each combined spectrum could be associated

[2019-02-15 03:54] hcferguson commented on #171
@perrygreenfield you are probably right that users will want to know the positions of the apertures in both frames. Or maybe all three frames: detector pixels, MSA pixels, and sky coordinates. I'm not sure that WCSs are a great way to capture this information though. Right now I don't think regions have their own WCSs; they are just supposed to be able to use a WCS if given one to translate from p

[2019-02-15 13:55] perrygreenfield commented on #171
@hcferguson It all depends on how you want to associate the information. If the footprints are associated with the spectrum, the question is whether one wants to know what original data they correspond to. If one does want that link (that data doesn't have to be in the same file) then the footprint can retrieve the wcs corresponding to it. Likewise, roll angle is something that can be obtained fro

[2019-02-15 14:55] hcferguson commented on #171
@perrygreenfield Currently the 1D spectra are collected together in a single _x1d file. Likewise for the 2D spectra, in a single _x2d file. I assume there are metadata to link back to the original files, but scanning an example _x1d header, it's not obvious. It probably gives enough information to *construct* a file name from the observation identifiers, but there's not an actual  filename of the

[2019-02-15 15:14] hbushouse commented on #171
The collecting of multiple instances of data only occurs in level-2b and level-2c products. Once level-3 products are created, there will be a separate product for each source/slit that only contains a single (combined) data instance. For example, if you have 3 nodded MOS exposures each containing 5 sources/slits, you will get 3 level-2b _cal and _x1d products, each of which will contain the data

[2019-02-15 15:40] hcferguson commented on #171
Wow. Is this a recent change? I could have sworn the _x1d files we have been using recently were supposed to be representative of level 3 products, not just level 2.  @SaOgaz @jdavies-st ?

[2019-02-15 15:46] hcferguson commented on #170
@robel see #171....level 3 packaging is not what I thought it was!

[2019-02-15 16:17] hbushouse commented on #171
Not at all a recent change in plans, but potentially only recently available in the actual processing and hence the supply of examples (although I believe we built some examples by hand before the processing was available). For example, if you look in:

/grp/jwst/ssb/test_build7.1/examples_for_dms/level3/calwebb_spec3/nirspec_msa/

you'll find a bunch of example files that consist of 3 exposures o

[2019-02-15 21:58] hcferguson commented on #171
@hbushouse Having fresh versions is pretty important, since we are revising the loader for MOSViz. Is there a more formal writeup somewhere of the packaging you outlined in your previous comment?

It's unfortunate that your example files have the same number of sources as exposures. Very confusing!

When you say for level 2b that the "exposure-based products ...all contain 3 instances of data", wo

[2019-02-15 22:01] hcferguson commented on #170
@robel For now, let's concentrate on the level 2b loader, since the format seems to be close to what is described above. It seems like we may actually be in better shape than I thought for level 3, except for the lacking slit geometry information.

I like your idea of leaving the level 2 data in the big FITS and just having the smarts to know that if the pathname has a [extension] it should go to

[2019-02-19 16:16] robelgeda commented on #171
I talked to @jdavies-st and he gave me the latest level 3 data possible. In one file you may have multiple slits and is extension based. The good news is that each source has a unique `SOURCEID` that we can use to link `x1d` and `s2d` counterparts. Also, the headers contain all the information we need to construct a MOSViz table with the exception of the slit width and height. @hcferguson @kassin

[2019-02-19 17:48] hbushouse commented on #171
That should never be the case with level-3 data products. Because the data from different slits correspond to different sources, and level-3 products are supposed to only contain the data for a single source, you should only have data from a single slit. I'd be interested in seeing these latest level 3 data. If the statement above is correct, then the level-3 pipeline is in error.

[2019-02-19 18:44] hbushouse commented on #171
https://jira.stsci.edu/browse/JP-542 has been filed to document and fix this error in the `calwebb_spec3` pipeline.

[2019-02-19 19:14] jdavies-st commented on #171
After discussing this with @hbushouse, it looks like the products that are currently being created by the `Spec3Pipeline` are not correct.  The different sources should be split out into different files.  Currently these are all collated together at the end and written to one file.  So this needs to be fixed, as mentioned above.

[2019-02-19 20:41] drdavella commented on #155
Each of these issues is already accounted for or not relevant, so closing.

[2019-02-19 20:41] #155 closed

[2019-02-19 21:22] drdavella commented on #171
Just had a discussion with @jdavies-st and if I understood correctly, this should make the `mosviz` loader **much** simpler.

Since each `*_s2d` and `*_x1d` each will contain only a single spectrum, it just becomes a matter of correlating the two files and reading a spectrum from each one. Since the filenames are expected to match up to the `_s2d`/`_x1d` component, this should be trivial. I might

[2019-02-19 21:32] hcferguson commented on #171
The table just makes the correspondence between them so you don't have to search the files each time or rely on a file naming convention. But since that's what we already implemented, the loader for level 3 ought to basically work as is (although the slit geometry info is still lacking of course).

[2019-02-20 02:42] kassin commented on #171
@drdavella Keep in mind that non-JWST data will still require the table.

[2019-02-21 17:53] #162 closed

[2019-02-21 20:59] hcferguson commented on #171
From James Muzerolle:

Hi Susan, Harry,

I've been looking into the data model for the NIRSpec level 2b products (the unrectified spectra, *cal.fits).  Some good news - it is possible to access the instrument model transforms in order to calculate sky positions for apertures.  The attached jupyter notebook shows an example using one of the NIRSpec simulated MOS exposures; you should be able to run

[2019-02-22 16:57] #154 closed

[2019-02-22 16:57] #163 closed

[2019-02-25 06:57] robelgeda opened #183 "Update CutoutTool UI"
After the recent update (#180 ) to the CutoutTool backend, the Cutout UI needs to be updated. This is contingent on having a working table generator function for NIRSpec.

[2019-02-25 19:19] robelgeda opened #184 "JWST Level 2 loader tests"
Write tests for level 2 loader and viewer once we get shareable test data.

[2019-02-25 21:18] robelgeda commented on #170
Closed by #182

[2019-02-25 21:18] #170 closed

[2019-02-25 21:24] robelgeda opened #185 "MOSViz not being loaded as Glue module"
[Recent updates](https://github.com/spacetelescope/mosviz/pull/179/files#diff-2eeaed663bd0d25b7e608891384b7298L117) to the setup.py file causes MOSViz to not appear in the list of viewer when opening glue. This is evident when you try to drag and drop a MOS table; mosviz is not in the list of viewers. You may have to do a fresh install of glue to notice this behavior since you probably already hav

[2019-02-25 21:46] astrofrog commented on #185
It looks like the glue plugin entry point is missing from ``setup.cfg``

[2019-02-27 19:35] #185 closed

[2019-03-01 18:30] SaOgaz opened #187 "text cutoff in first dialog box after opening"
From testing session with James Muzerolle:

When James first opened cubeviz (using a terminal command and including a table file in the call) the text was cutoff in that first dialog box that opens (@robelgeda not sure what to call that dialog box). When he resized the box the text fit okay, but we might want to think about having a scroll bar on the text if the dialog box is too small to contain

[2019-03-01 18:31] SaOgaz opened #192 "first dialog box needs name"
If you open mosviz with a table file, the first dialog box that pops up needs a name, right now it just has the default "dialog" at the top of the box.

[2019-03-01 18:34] SaOgaz opened #191 "unclear wording in first opening dialog box"
From testing session with James Muzerolle:

The wording of "columns" in the first opening dialog box (the pop up right after opening mosviz with a table file) was not clear to James, we may want to re-word this.

[2019-03-01 18:36] SaOgaz opened #190 "mosviz viewer inner window spawned too much to the left"
From testing session with James Muzerolle:

When James finished opening his table, the inner mosviz viewer window spawned to far over to the left, so some of the content was cut off.  He was able to drag the window into a better position, but it seemed buggy that it didn't spawn with better placement.  This was on a mac machine.

[2019-03-01 18:41] SaOgaz opened #189 "nomenclature in top 2d image drop-down unclear"
From testing session with James Muzerolle:

One of the top drop downs has a few choices between level2, un-rectified, etc.  These are quite correct.  You can have both rectified and un-rectified for level 2 and level 3 JWST products.  So these options need to be re-tooled a bit.  Not sure what the right name for this drop down is, maybe @robelgeda can clarify and re-title this issue a bit better.

[2019-03-01 18:46] SaOgaz opened #188 "possible to make side panel widths adjustable?"
From testing session with James Muzerolle:

James was working with a smaller screen, and mentioned it would be nice if he could make the sidebars smaller.  We saw the option to completely collapse them, but is it possible to make them more custom adjustable?

[2019-03-01 18:53] SaOgaz commented on #120
bump... @nmearl @javerbukh

[2019-03-01 18:55] SaOgaz opened #193 "mosviz hung when trying to close table viewer"
From testing session with James Muzerolle:

I don't remember all the details (@robelgeda?), but when we tried to close the table viewer window the API hung for an awkward amount of time.

[2019-03-01 19:40] #120 closed

[2019-03-04 16:07] SaOgaz commented on #169
Linked to PR #180

[2019-03-04 16:12] SaOgaz commented on #169
Remove abort button for this release.

[2019-03-04 16:15] SaOgaz opened #194 "Check we can read level 2 and fake up level 3 JWST image."

[2019-03-04 16:17] SaOgaz commented on #168
Issue to double check this in #194

[2019-03-04 16:17] #168 closed

[2019-03-04 16:19] SaOgaz commented on #184
I need to find out what we can make publicly available.

[2019-03-04 16:27] SaOgaz opened #195 "Table generator UI needs to be updated"
...for current data formats that we have.

[2019-03-04 16:31] SaOgaz opened #196 "Documentation update for state of table builder"
So users know what data and how they can load it.

[2019-03-04 16:35] SaOgaz opened #197 "screencasts for mosviz demos"

[2019-03-04 16:36] SaOgaz opened #198 "screenshots for demos"

[2019-03-04 16:48] SaOgaz opened #199 "review and update mosviz documentation"

[2019-03-04 18:14] SaOgaz opened #200 "JWST Level 3 unit tests"

[2019-03-04 18:14] SaOgaz commented on #157
If this happens, #184 and #200 will be un-blocked.

[2019-03-05 14:46] ibusko commented on #194
As far as I can tell, level 2 data seems to be read correctly. Although they may look a bit weird, certainly because it's made-up data. When I tried the 'merge' option, it looked like some extensions were dropped.

The level 3 cutouts seem OK as well. The level 3 s2d files seem to work as well, in the same way as level 2. The level 3 x1d spectra are displayed with the scatter plotter by default. W

[2019-03-05 15:32] ibusko commented on #194
Hmm.... now I realize I was probably just using glue to read and display the files.

As for the level 2 table, glue can read it and display it as a table with the table viewer. But I can't see the mosviz viewer that is supposed to understand that table. Last time I tried it (a long ago) it was one of the viewer options provided in the drop down, wasn't it?

[2019-03-05 16:14] hcferguson commented on #121
Closing this and opening a new one for v0.3.

[2019-03-05 16:14] #121 closed

[2019-03-05 16:14] hcferguson opened #201 "v0.3 Acceptance criteria"
Updated v0.3 Acceptance Criteria March 5, 2019:

Test data and Unit tests: #200 #184 #157
Helper tools: #169 #196 #195 #183
Docs, screencasts & screenshots: #199 #198 #197 #196

- [ ] Release a well-documented working version of the “minimum viable MOSViz"
- [x] Release a simulated dataset in pipeline format
  - [x] NIRSpec + NIRCam with WCSs and MOS Slit identification as close as we can get to e

[2019-03-05 16:16] hcferguson opened #202 "Update the MOSViz GitHub wiki"
Last touched October 2018. Is the stuff there still relevant?

[2019-03-05 18:04] hcferguson commented on #199
Annotated the current documentation at https://hyp.is/go?url=https%3A%2F%2Fmosviz.readthedocs.io%2Fen%2Flatest%2Fapi.html

[2019-03-05 19:07] robelgeda commented on #78
Outdated

[2019-03-05 19:07] #78 closed

[2019-03-05 19:07] robelgeda opened #203 "MOSViz table with no cutout images"
MOSViz is unable to load tables without cutouts.

[2019-03-05 19:08] SaOgaz commented on #78
Outed, we've opened a new (sort of related) issue: #203

[2019-03-05 19:15] SaOgaz commented on #167
Removed in #179

[2019-03-05 19:15] #167 closed

[2019-03-05 22:11] robelgeda opened #204 "Cutout viewer doesn't rotate images"
If the user provides cutouts which are not rotated to the slit's position angle, they will be displayed diagonally. We should attempt to rotate cutouts not generated by the cutout-tool.

[2019-03-05 22:15] robelgeda opened #205 "Update image viewers to newest version"
Post V0.3 work:
The cutout viewer and 2d spectra viewer are both instances of glue's `StandaloneImageViewer`. We should update these to `glue.viewers.image.qt.data_viewer.ImageViewer`?

cc @astrofrog @hcferguson @kassin

[2019-03-05 22:26] robelgeda commented on #205
This would allow region selection and other glue related functions. We can link regions on the 2d spectrum to regions in the SpecViz viewer. We can also attempt to link horizontal regions in the 2d viewer to regions in the cutout viewer (this might be a stretch since there is curvature in the dispersion). The key question is how much work is needed in the MOSViz viewer to account for this change (

[2019-03-05 23:16] kassin commented on #205
This is excellent potential new functionality but needs to be prioritized by the Product Owner (me) when looking at all the other issues.

I agree- the key question is how much effort this would require.  Even an estimate would be nice: 1 person for 1 week, 1 person for 1 month, etc.

[2019-03-06 00:48] robelgeda opened #208 "MOS Table ids need to be strings"
Because of how glue data works (stings as categorical data), we currently can not use numbers as ids in the mosviz table (i.e. there needs to be letters in the name).

[2019-03-06 00:55] robelgeda commented on #189
This is a long term question. Turning this to a discussion and opening a new ticket for the v0.3 milestone.

[2019-03-06 00:56] robelgeda opened #209 "Rename level 2 data components in 2d viewer dropdown"
Short term fix for #189: Rename dropdown item from "Flux" to "Level2 Flux" in dropdown.

[2019-03-06 01:16] ibusko commented on #194
My problems were related to a contaminated conda environment. I re-started it and now I can run mosviz with no problems. I confirm we can read level 2 and level 3 data.

[2019-03-06 17:39] #156 closed

[2019-03-06 18:08] #194 closed

[2019-03-07 03:00] #203 closed

[2019-03-07 15:59] #209 closed

[2019-03-07 16:52] robelgeda opened #212 "Units"
MOSVis doesn't have a unit controller causing restriction on user data. It currently depends on the user providing data with supported units.

[2019-03-07 17:25] #192 closed

[2019-03-07 17:35] robelgeda commented on #146
Related to #212

[2019-03-07 17:38] #169 closed

[2019-03-07 17:38] robelgeda commented on #169
Fixed by #180

[2019-03-07 17:40] robelgeda commented on #191
Fixed by 207

[2019-03-07 17:41] #191 closed

[2019-03-07 17:48] robelgeda commented on #190
Yeah, it was weird. We should try to get an old 13-inch laptop form ITSD and test our tools. It would serve as a bottleneck test.

[2019-03-07 17:50] robelgeda commented on #188
@astrofrog : We might want to add a hide sidebar button like we did for CubeViz?

[2019-03-07 19:45] robelgeda commented on #187
Closed by #207

[2019-03-07 19:45] #187 closed

[2019-03-07 21:03] robelgeda opened #213 "Multiple Level 2 Products and Their Slits"
Related to #175
A single `level3` product is a combination of multiple `level2` spectra files. This adds complications:

1. **Multiple files:** Since the MOSViz Table is source based (i.e each row is unique to a source) we would have to list all associated files in the same row. As of now, the table only has one column for `level2` products limiting it to a single `level2` file.

2.  **Multiple sl

[2019-03-07 21:31] robelgeda commented on #213
I think the first point is the most significant one and I believe we should rethink how we store file associations, slit geometries etc...
An easy "fix" to this problem would be to stuff these file names into the meta of the ECSV file instead of making `level2` a column. A more long term solution would to use yaml or json type files, especially considering spectra with multiple MSA slits open duri

[2019-03-07 21:45] robelgeda commented on #213
As for the slit alignment problem, I think the axes are aligned by default since they measure the same dimension in space. The only thing we would have to do is to rotate the cutout display projection to match the orientation of the 2D spectrum viewer projection. That way we can use a single cutout for each source and lose dependance on the WCS of the cutout. Furthermore this would remove the re-o

[2019-03-07 21:47] robelgeda commented on #213
Removed the `Urgent` tag because I don't think we can get this resolved by v0.3 releasee. @hcferguson @kassin @SaOgaz

[2019-03-11 17:35] SaOgaz commented on #198
@eteq you mentioned you had some of these on hand?

[2019-03-11 17:51] hcferguson commented on #213
@robel I agree that we cannot get this resolved by the v0.3 release. I do like the idea of stuffing the level 2 associations into the meta of the level 3 table, though. Not as required metadata, but optional if you are going to make use of level 2. That would allow us to make separate tables for the level 2 data, one per level 2 product (usually a different dither or different MSA configuration),

[2019-03-11 21:04] SaOgaz commented on #157
We got clearance on the files listed from Nora (NIRSpec team), but I need to compare these files to the ones Robel has.  If they match, we can use this file set for a level 2 unit test.  Official level 3 unit test data is not currently available from the team.

[2019-03-12 20:36] robelgeda commented on #196
Subsumed by #199

[2019-03-12 20:36] #196 closed

[2019-03-12 21:07] SaOgaz commented on #184
@hcferguson, @robelgeda and I just discussed the details of doing the unit tests, and we've got a good idea for a couple unit tests for the sample level 3 data that Robel put together, but we don't feel a level 2 test with our current data would be worth it.  Are you okay with us removing this from the version 0.3 project?

[2019-03-12 21:34] hcferguson commented on #184
@SaOgaz Is the reason that the level 2 data aren't representative? I actually thought we had level 2 data that were closer to the final expected product than level 3.

[2019-03-12 22:41] robelgeda commented on #184
@hcferguson: I thought it might be better to hold off on the tests until we get #213 resolved. This is because we would expect to see some change in the file structure. We could run a simple test to see if level2 products load into MOSViz (i.e single column level2 spectrum) but further detailed tests might have to be rewritten in the future.

[2019-03-12 22:50] robelgeda commented on #212
Reminder to update Table Generator unit assignments.

[2019-03-13 01:52] hcferguson commented on #184
@SaOgaz sounds reasonable.

[2019-03-13 14:42] SaOgaz commented on #157
Level 3 test data posted on box, etc.  Level 2 data may be different in the future, so putting this one off.

[2019-03-13 14:42] #157 closed

[2019-03-13 16:51] robelgeda opened #215 "Axes locking when switching 2d spectra"
If the axes are locked and the user switches to a level2 distorted data product, the wavelength will not align with the 1D spectrum.

[2019-03-14 15:08] SaOgaz opened #218 "2D spectra window not filling out with prior None entry"
I ran into kind of a weird bug while writing the JWST level 3 unit test.  For one of the tests we used a file that had several None entries.  Entry 2 had a None for the s2d spectra, and entry 3 had a None for the s3d spectra.  When flipping to entry 2, as expected, the 2D spectra window is empty. When flipping to entry 3, however, the 2D spectra window is still empty, and does not fill in with the

[2019-03-15 15:57] #183 closed

[2019-03-15 15:59] #208 closed

[2019-03-15 15:59] #195 closed

[2019-03-15 18:22] SaOgaz commented on #199
We're going to go with a slimmed down version of the docs for v0.3 release.

[2019-03-18 14:58] #197 closed

[2019-03-19 15:18] hcferguson opened #220 "_x2d WCS problem"
The 2D extracted spectra in the _x2d file have both spatial and spectral axes, which Astropy doesn't understand (and hence MOSViz doesn't understand).

Reportedly this is a known issue, but I'm not sure if there is a ticket in Astropy for it.

[2019-03-19 15:19] SaOgaz commented on #184
Tagged the wrong issue to close on my PR.

[2019-03-19 15:20] SaOgaz commented on #200
Closed the wrong issue on my PR: https://github.com/spacetelescope/mosviz/pull/216

[2019-03-19 15:20] #200 closed

[2019-03-19 17:27] #198 closed

[2019-03-19 17:30] astrofrog commented on #220
Based on the file I saw, this is not an astropy issue though, it's a bug in the production of the original _x2d file - these files shouldn't have 3D WCS coordinates in the first place, but 2D coordinates? (this is not to say the header can't contain information about the original RA/Dec pointing for instance, but it shouldn't use the WCS keywords for this).

If you want to keep track of the RA/Dec

[2019-03-19 17:44] astrofrog commented on #220
Actually it should be possible to use WCSAXES>NAXIS but I think when I checked the x2d file the axes were in the wrong order - I’ll investigate again!

[2019-03-19 18:13] astrofrog commented on #220
Here's an example of an incorrect header:

[code]

See also section 2.2 of http://www.atnf.csiro.au/people/mcalabre/WCS/wcs.pdf - basically the issue is that the first two CTYPES should be WAVE and then either RA or DEC, then DEC or RA, but basically WAVE has to come first because NAXIS1 corresponds to the spectral axis. It might be possible to mess with the PC matrix to specify the coordinates in

[2019-03-19 18:17] SaOgaz opened #221 "better message if cutout cannot be made"
Would be nice to have more information conveyed to the user when using the cutout tool, if the cutouts could not be made (i.e., off frame, etc).

[2019-03-19 18:21] astrofrog commented on #220
The following script can be used to output the coordinates in each pixel of the data for each coordinate:

[code]

If you try this, you'll see that while RA varies along what should be the spectral axis, WAVE is constant across the array.

[2019-03-20 05:50] robelgeda opened #223 "[Reminder] SetupTools Requirement in readthedocs.yml"
This ticket is a reminder to remove the following dependency in `readthedocs.yml`:

``requirements: setuptools==40.8.0 ``

#### Background:
There is a bug related to [read the docs and setuptools](https://github.com/rtfd/readthedocs.org/issues/5436). This should be fixed by a patch at #222. We need to remove the strict dependency once the bug has been addressed on the read the docs side of things.

[2019-03-20 06:02] robelgeda commented on #223
Removing tags since this is not an active thread

[2019-03-20 19:10] SaOgaz commented on #223
Turns out in addition to that, I had to add a setuptools and pip dependency in the environment.yml. So we should eventually remove those as well.

[2019-03-21 09:37] astrofrog commented on #147
https://github.com/spacetelescope/mosviz/issues/220 is a related issue regarding the issues with _x2d files.

[2019-03-21 09:40] astrofrog commented on #188
The minimum width of the side bar is constrained by the widgets inside the sidebar, so below a certain size you can only hide or show the sidebar but not make it e.g. 50 pixels wide. The button @robelgeda is mentioning would be good for people who don't realize they can collapse the side bar but I don't think we can make the sidebar be completely flexible in terms of width.

Having said that, if y

[2019-03-21 09:41] astrofrog commented on #190
@SaOgaz - are there any screenshots of the issue available?

[2019-03-21 09:47] astrofrog commented on #220
I'm going to assign to myself as I want to investigate whether things work properly in MOSViz if the header is fixed. But in any case the WCS is definitely incorrect so this issue should be reported to whoever made the simulated data.

[2019-03-21 14:35] robelgeda commented on #193
Brilliant idea 💯

[2019-03-21 14:51] SaOgaz commented on #190
@astrofrog unfortunately not at the moment. We can try and re-create it at some point.

[2019-03-21 18:11] hcferguson commented on #199
As long as the installation instructions there are still valid, we are good to go.

[2019-03-21 19:37] SaOgaz commented on #199
We will need to update the glue channel with the new release, but other then that I just tried the install instructions and they worked fine. Closing issue.

[2019-03-21 19:37] #199 closed

[2019-03-22 20:00] SaOgaz commented on #205
@nmearl, related to the drop down / not being able to open new specviz viewer?

[2019-03-24 05:40] jdavies-st commented on #220
If this is JWST pipeline data that is `_x2d`, then the FITS WCS is not an accurate representation of any of the data (and never has been) and should not be used.  And in fact it will not be populated at all for these data in the very near future.  See

https://github.com/spacetelescope/jwst/issues/2262

The `_s2d` file produced by the JWST cal pipeline, i.e. the resampled and rectified 2D spectra

[2019-07-22 19:21] robelgeda opened #228 "_astropy_init.py is No Longer Needed"
We dont need `_astropy_init.py` since we moved away from astropy_helpers. Work is needed to make sure its safe to remove it.

[2021-04-10 00:29] pllim opened #231 "Archive this repo?"
I see in the README that this package is defunct. Is there a reason why we cannot archive yet?

[2021-07-12 19:09] pllim opened #234 "Problem with testing the last release in Python 3.9"
`pip install mosviz` downgrades `specviz` from 0.7.1 back to 0.7.0. Forcing `pip install specviz -U` after that emits this message: `ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts. mosviz 0.3.1 requires pyqt5==5.12.3, but you have pyqt5 5.8 which is incompatible.`

Same Py

[2021-07-12 19:21] pllim commented on #234
In a clean env with just mosviz, things seem to work (i.e., splash screen shows).

[code]

[2021-07-12 19:28] pllim commented on #234
In Python 3.6, downgrade of `specviz` also did not happen. The splash screen shows.

[2021-07-12 19:32] pllim commented on #234
(Ops... I misread the log. Downgrade still happens in Python 3.6. Updated my note above.)

[2021-07-12 19:34] pllim commented on #234
Also works in Python 3.6, though the downgrade still happens.

[2021-07-13 20:52] ibusko commented on #234
The original JIRA ticket is JDAT-1296.

[2021-07-19 15:45] eteq commented on #234
In some out-of-band discussion, I think we settled on the following solution:

* Set the  maximum python version to whatever we know works right now (which I think is 3.6?)
* This has the downside that anyone who pip installs will get a downgrade
* ASAP, we put out a last version that has *none* of the current dependencies (and therefore leads to no downgrades), but just creates the error on impor

[2021-07-20 18:48] #160 closed

[2021-07-20 18:48] #161 closed

[2021-07-20 18:48] #164 closed

[2021-07-20 18:48] #171 closed

[2021-07-20 18:48] #175 closed

[2021-07-20 18:48] #178 closed

[2021-07-20 18:48] #184 closed

[2021-07-20 18:48] #188 closed

[2021-07-20 18:48] #189 closed

[2021-07-20 18:48] #190 closed

[2021-07-20 18:48] #193 closed

[2021-07-20 18:48] #201 closed

[2021-07-20 18:48] #202 closed

[2021-07-20 18:48] #205 closed

[2021-07-20 18:48] #212 closed

[2021-07-20 18:48] #213 closed

[2021-07-20 18:48] #215 closed

[2021-07-20 18:48] #218 closed

[2021-07-20 18:48] #220 closed

[2021-07-20 18:48] #221 closed

[2021-07-20 18:48] #223 closed

[2021-07-20 18:48] #228 closed

[2021-07-20 18:48] #119 closed

[2021-07-20 18:48] #126 closed

[2021-07-20 18:48] #146 closed

[2021-07-20 18:48] #147 closed

[2021-07-20 18:48] #158 closed

[2021-07-20 18:48] #159 closed

[2021-07-21 21:08] #234 closed

[2021-07-21 21:23] #231 closed